@media print {
    nav {
        display: none !important;
    }


    #header-title{
        display: none !important;
    }
    #hero{
        height: 0px;
        border: none;
        display: none !important;
    }
    main{
        text-align: left;
        font-size: 12px;
    }

    header {
        display: none !important;
    }

    footer {
        display: none !important;
    }

}