@media screen and (max-width: 960px) {
    html{
        width: 100%;
    }
    .full-width-wrapper, main{
        width:100%;
        padding:5px;
    }

    #hero{
        display: none;
    }

    .card{
        min-height: 200px;
        padding:10px;

        text-align: left;
        align-items: center;
    }

    .card img{
        height: 80px;
        background-color: white;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid black;
    }

    .card p{
        text-align: justify;
    }


    header{
        top: 0;
        position: relative;
        z-index: 1;
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: rgb(186,104,93);
        height: auto;
        border: 0px;
    }

    header nav a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        width:100%;

    }
}

