body, html{
    height: 100%;
    margin: 0;
    background-color: #F5F5F5;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#4a4a4a;

}

footer{
    margin-top: 20px;
    background-color: rgb(186,104,93);
    color: #f2f2f2;
}

header{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186,104,93);

}

header nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

header nav a:hover{
    background-color: white;
    color:rgb(186,104,93);
}

#header-title{
    color: white;
    font-size:30px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}

#header-img{
    width: 70px;
    margin-right: 20px;
}

#hero{
    height: 413px;
    background: url("./../img/beers.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.form input[type=submit]{
    background-color: rgb(186,104,93);
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
}
.form select{
    padding: 10px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
}

#hero h1{
    font-size: 5em;
}

.full-width-wrapper, main{
    width: 960px;
    margin:0 auto;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    text-align: left;
    width: 280px;
    min-height: 200px;
    padding:10px;
    margin:10px;
}

.card img{
    height: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.card p{
    text-align: justify;
}

.card  a{
    width: 100%;
    background-color: rgb(186,104,93);
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 1s;
    border: 1px solid rgb(60,64,60);
}
.basket_item{
    display: inline;
}
.btn_cart {
    width: 20px;
    background-color: rgb(186,104,93);
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 1s;
    border: 1px solid rgb(60,64,60);
}

.card a:hover{
    background−color: rgba(204, 208 , 204 , 0.91);
    color: #333333;
}




