body
{
  width:1000px;
  margin: 0 auto;
  border: 3px solid black;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Arial;
}
hr{
  border: 1px solid black;
}

h2{
  margin-left:4%;
}

body h1{
  text-align: center;
}

img
{
  width:50%;
  width:20%;
  border-radius: 10px;
  margin: 2px;
}
div{
  margin: 1%;
}



#zaklInfo
{
  
  width:77%;
  float: right;
}
